@mixin category {
  background-color: $pink;
  margin-top: 20px;

}


@mixin category-type {
  color: $white;
  font-weight: bold;
  line-height: 60px;
  font-size: 3em;
  text-align: left;
  padding: 3em;

}
