@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;

	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;

}

*,*:before, *:after {
    box-sizing: inherit;
}

img {
	width: 100%;
	display: block;
}

.headline {
	font-size: 3em;
	line-height: 50px;
	color: $pink;


}

.headline-box {
	margin: 2em;

}




.category {
	@include category;
}

.category-type {
		@include category-type;
}

@media only screen and (min-width: 25em) {



}


@media only screen and (min-width: 38em) {

	.headline {
		font-size: 4.5em;
		line-height: 80px;
	}


}

@media only screen and (min-width: 60em) {

	.headline {
		font-size: 6em;
		line-height: 110px;

	}


}


@media only screen and (min-width: 90em) {

}
