@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;

	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;

}

*,*:before, *:after {
    box-sizing: inherit;
}

img {
	width: 100%;
	display: block;
}

body {
	margin: 0;
	padding: 0px;
}


.nav {
	font-size: 1.1250rem;
	width: 10em;
	margin: 10px 0 0 0;
	display: none;
}


.nav a {
	color: black;
}


.nav-check:checked ~ .nav {
	display: block;
}

.nav-label {
	display: inline-block;
	cursor: pointer;
}

.nav-pad {
	padding: 10px 20px 10px 0;
	width: 100%;
}

.nav-check {
	position: absolute;
	top: -4em;
}

.nav-check:checked ~ .nav-label {
	padding: 0;
}

.nav a:hover {
	padding: 3px;
	color: white;
	background-color: black;
}

.nav-open {
	margin-left: 8px;
	padding: 10px;
	width: 50px;
	height: 50px;
}

.nav-close {
	display: none;
	margin-left: 7px;
	padding: 8px;
	width: 50px;
	height: 50px;
}

.nav-check:checked ~ .nav-label .nav-open {
	display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
	display: block;
}



.headline {
	font-size: 3em;
	line-height: 50px;
	color: $pink;
}

.headline-box {
	margin: 2em;
}

a {
	text-decoration: none;
	color:  $white;
}

.miserable {
	opacity: 1;
	width: 100%;
	display: block;
}



.miserable:hover {
	opacity: 0;
}



.category {
	background-color: $black;
	position: relative;
	display: block;
	border: 10px solid $white;
}

.category:hover {

//background-color: $black;

	& a:hover {
		border-bottom: solid 2px;
	}
}





.category-type {
	position: absolute;
	color: $white;
  font-weight: bold;
  top: 33%;
  font-size: 2.25em;
}





@media only screen and (min-width: 25em) {

.category-type {
	font-size: 2.15em;
}

}


@media only screen and (min-width: 38em) {

	.headline {
		font-size: 4.5em;
		line-height: 80px;
	}

	.catagory-type {
		font-size: 2em;
	}



}

@media only screen and (min-width: 60em) {

	.headline {
		font-size: 6em;
		line-height: 110px;

	}

	.category-type {
		text-align: left;
		font-size: 1.75em;
}


}


@media only screen and (min-width: 90em) {

}
