---
layout: default
---


<div class="grid">

<div class="category unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-4">
	<p class="category-type island">
		<a href="">ART HISTORY</a> <!-- change this to be links? -->
	</p>
</div>

<div class="category unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-4">
	<p class="category-type island">
		<a href="">COLOUR</a>
	</p>
</div>


<div class="category unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-4">
	<p class="category-type island">
		<a href="">DRAWING</a>
	</p>
</div>


<div class="category unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-4">
	<p class="category-type island">
		<a href="">INFO</a>
	</p>
</div>

<div class="category unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-4">
	<p class="category-type island">
		<a href="">INSPIRATION</a>
	</p>
</div>


<div class="category unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-4">
	<p class="category-type island">
		<a href="">INTERACTION</a>
	</p>
</div>


<div class="category unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-4">
	<p class="category-type island">
		<a href="">MOTION</a>
	</p>
</div>


<div class="category unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-4">
	<p class="category-type island">
		<a href="">PHOTOGRAPGHY </a>
	</p>
</div>

<div class="category unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-4">
	<p class="category-type island">
		<a href="">PROGRAMS</a>
	</p>
</div>

<div class="category unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-4">
	<p class="category-type island">
		<a href="">TEXTURES</a>
	</p>
</div>

<div class="category unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-4">
	<p class="category-type island">
		<a href="">TYPOGRAPHY</a>
	</p>
</div>

<div class="category unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-4">
	<p class="category-type island">
		<a href="">WEB DESIGN</a>
	</p>
</div>

</div>
